<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Newsletter</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body class="main">
    <h1><%= day %></h1>
    <form action="/" method="POST">
      <ul>
        <h3>To do</h3>
        <% newItem.forEach(function(item){%>
        <li><%= item.name %></li>
        <% }) %>
        <input type="text" name="newItem" placeholder="new todo" />
        <button type="submit">Add task</button>
      </ul>
    </form>
  </body>
</html>
