html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: plum;
  flex-direction: column;
}

.todoItem {
  display: flex;
  flex-direction: row;
  align-items: center;
}
